<section>
    <aside><div><app-avatar [config]="{width:300, color: '#FFE530', img:'perro'}"></app-avatar></div></aside>
    <aside>
        <div>
            <h1>Make Fetch! Happen</h1>
            <p>If you love pets and want exciting work, apply to be a Fetch! Pet Care Provider! We train every team member and provide ongoing support to help you get the most from your experience.</p>
            <div>
                <button>Join Now</button>
            </div>
        </div>
    </aside>
</section>
