

.container{
    
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: end;

    position: relative;
}
#circulo{

    
    
   /* width: 350px;/*width: definido por angular ; Debse Ser cuadrado*/
    /*height: 350px;/*height: definido por angular; Debse Ser cuadrado*/
    border-radius: 50%;
    background-color: #FFE530;

}

#avatar-imagen{

    
    /*width: 350px;/*definido por angular ; Debse Ser igual al ancho de #circulo*/
    height: 100%;
    position: absolute;
    bottom: 0;
    /*right: 50px;*/
    overflow: hidden;
    /*border-bottom-left-radius: 350px; /*definido por angular ; Debse Ser igual al ancho de #circulo*/
    /*border-bottom-right-radius: 350px;/*definido por angular ; Debse Ser igual al ancho de #circulo*/
    text-align: center;

   /* border: 1px solid;*/
}

#avatar-imagen > img{
    position: relative;
    width: 100%;
    /*bottom: -50px;*/
}