<section>
    <aside>
        <div id="contenedor-portada-login">
            <div id="contenedor-avatar">
                <div id="avatar-imagen"></div>
            </div>
        </div>
    </aside>
    <aside>
        <nav>
            <ul >
                <li routerLinkActive="menu-activo"><a [routerLink]="['location']">Location</a></li>
                <li routerLinkActive="menu-activo"><a [routerLink]="['blog']">Blog</a></li>
                <li routerLinkActive="menu-activo"><a [routerLink]="['services']">Services</a></li>
                <li routerLinkActive="menu-activo"><a [routerLink]="['about']">About Us</a></li>
                <li routerLinkActive="menu-activo"><a [routerLink]="['franchise']">Franchise with Us</a></li>
            </ul>
        </nav>
    </aside>
</section>
