<!--NavBar-->
<app-nav></app-nav>

<!--Seccion 1: -->
<section>
    <aside>
        <div>
            <router-outlet></router-outlet>
        </div>
    </aside>

    <aside>
        <div id="contenedor-avatar">
        </div>
        <div id="avatar-imagen">
            <img src="../../../../assets/img/labrador.png">
        </div>
    </aside>
</section>

<!--Seccion 2: -->
<section id="seccion2">
    <aside>
        <div>
            <h1>Our Services</h1>
            <p>National Brand With a Local Feel. Experience the Fetch! Difference</p>
            <h4>Enter Your Location and Fetch Our Services</h4>
            <div class="container-textbox"><app-textbox [config]="{placeholder:'Zip Code'}"></app-textbox></div>
        </div>
    </aside>

    <aside>
        
    </aside>
</section>

<app-footer></app-footer>
