<!--NavBar-->
<app-nav></app-nav>

<!--Seccion 1: -->
<section>
    <aside>
        <div>
            <router-outlet></router-outlet>
        </div>
    </aside>

    <aside>
        <!--<div id="contenedor-avatar">
        </div>
        <div id="avatar-imagen">
            <img src="../../../../assets/img/labrador.png">
        </div>-->

        <app-avatar [config]="{width:540, color: '#FFE530', img:'labrador'}"></app-avatar>
    </aside>
</section>

<!--Seccion 2: -->
<section id="seccion2">
    <aside>
        <div>
            <h1>Our Services</h1>
            <p>National Brand With a Local Feel. Experience the Fetch! Difference</p>
            <h4>Enter Your Location and Fetch Our Services</h4>
            <div class="container-textbox"><app-textbox [config]="{placeholder:'Zip Code'}"></app-textbox></div>
        </div>
    </aside>

    <aside>
        <div>
            <div class="align-right"><app-itembox [config]="{icon:'dog', label:'Dog Walking'}"></app-itembox></div>
            <div class="align-left"><app-itembox [config]="{icon:'cat', label:'Pet Sitting'}"></app-itembox></div>
            <div class="align-right"><app-itembox [config]="{icon:'home', label:'Overnight Care'}"></app-itembox></div>
            <div class="align-left"><app-itembox [config]="{icon:'fingerprint', label:'Other Services'}"></app-itembox></div>
        </div>
    </aside>
</section>



<!--Seccion 4: -->
<section id="seccion4">
    
    <aside>
        <div>
            <div class="align-left"><app-itembox [config]="{icon:'calendar', label:'Reserve'}"></app-itembox></div>
            <div class="align-right"><app-itembox [config]="{icon:'kids', label:'Match'}"></app-itembox></div>
            <div class="align-left"><app-itembox [config]="{icon:'facedog', label:'Relax'}"></app-itembox></div>
        </div>
    </aside>

    <aside>
        <div>
            <h1>How it Works</h1>
            <p>Because finding a good pet sitter shouldn’t be a hassle. With Fetch! It’s as easy as…</p>
            <h4>Enter Your Location and Fetch Our Services</h4>
            <div class="container-textbox"><app-textbox [config]="{placeholder:'Zip Code'}"></app-textbox></div>
        </div>
    </aside>
</section>



<!--Seccion 5-->
<section id="seccion5">
    <app-avatar [config]="{width:150, color: '#FFE530', img:'perro'}"></app-avatar>
</section>


<app-footer></app-footer>
