
/*section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 124px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

section > aside{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;

}

section > aside:last-child{
    height: 100%;
    justify-items: right;
    align-items: end;
    padding-right: 80px;
    position: relative;
}*/


#seccion1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 124px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

#seccion1 > aside{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;

}

#seccion1 > aside:last-child{
    height: 100%;
    justify-items: right;
    align-items: end;
    padding-right: 80px;
}





/*===== Seccion 2 =====*/

#seccion2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: start;
    margin-top: 150px;
    margin-bottom: 124px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

#seccion2 > aside{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;

}

#seccion2 > aside:first-child > div{

    padding: 0px 20%;

}


#seccion2 > aside:last-child > div{
    
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;

}
#seccion2 > aside:last-child > div > div{
    
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;

}
#seccion2 > aside:last-child > div >  div.align-right{
    
    justify-items: right;
}
#seccion2 > aside:last-child > div >  div.align-left{
    
    justify-items: left;
}




#seccion2 h1{

    color: #FE6845;
    font-size: 48px;
}

#seccion2 p{

    color: #808080;
    font-size: 24px;
}

#seccion2 h4{

    color: #FE6845;
    font-size: 24px;
}

#seccion2 div.container-textbox{

    width: 60%;
}





/*===== Seccion 4 =====*/

#seccion4{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 124px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

#seccion4 > aside{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}


#seccion4 > aside:first-child{
    height: 100%;
    align-items: start;
    justify-items: center;
}

#seccion4 > aside:last-child{
    height: 100%;
    justify-items: right;
    padding-right: 80px;
    align-items: start;
}

#seccion4 > aside:last-child > div{

    padding: 0px 10%;

}

#seccion4 > aside:first-child > div{
    
    width: 70%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}

#seccion4 > aside:first-child > div > div{
    
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;

}

#seccion4 > aside:first-child > div >  div.align-right{
    
    justify-items: right;
}

#seccion4 > aside:first-child > div >  div.align-left{
    
    justify-items: left;
}




#seccion4 h1{

    color: #FE6845;
    font-size: 48px;
}

#seccion4 p{

    color: #808080;
    font-size: 24px;
}

#seccion4 h4{

    color: #FE6845;
    font-size: 24px;
}

#seccion4 div.container-textbox{

    width: 60%;
}





/*===== Seccion 5 =====*/
#seccion5{

    padding: 0px 150px;
    margin-top: 150px;
    margin-bottom: 124px;
}

app-avatar{
    height: 100%;
}
